{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!--Styles Block-->
{% block styles%} 
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> 
{% endblock %}
<!--Content Block-->
{% block content %} 
<div class="container">
  <form>
      <input type="text" name="source_query" placeholder="Search for a Source" class="form-control">
      <input type="submit"  value="Submit" class="btn btn-default">
  </form>

</div>
<div class ="container-fluid mt-2 " id ="allsources">
  <div class = "overlay">
    <div class="container">
      <form>
          <input type="text" name="source_query" placeholder="Search for a Source" class="form-control">
          <input type="submit"  value="Submit" class="btn btn-default">
      </form>
    
    </div>
    <h2 class="text-center font-weight-bold headers" >Browse News Sources</h2>
      {{ macro.displaySources(sources)}}
  </div>
</div>
{% endblock %}